body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    padding: 20px;
}
h2 {
    padding:0px 20px;
    display: flex;
    flex-direction: row;
}
input {
    border: 1px solid #0875D4;
    border-radius: 5%;
}
.button {
    background-color: #0875D4;
    color: white;
    border: none;
    border-radius: 5%;
}
